<!-- {% capture root_url %}{{ site.root | strip_slash }}{% endcapture %} -->
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include navigation.html %}

<div id="main" class="row">
  <div id="content" class="col-md-12">
    <div class="container">
{% include header.html %}
{{ content | expand_urls: root_url }}
      <footer class="row footer"><div class="col-md-12">{% include footer.html %}</div></footer>
    </div>
  </div>
{% include after_footer.html %}
</div>
</body>
</html>
